@page
@model FoodTracker_APP.Pages.MyMeals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Meals</h1>
<hr />
<h5>Here you can add all your daily Meals and make sure you incorporate foods that offer health benefits into your daily life!</h5>
<p>
    <a asp-page="Create" class="btn btn-primary">Add new Meal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].Name)
            </th>               
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].StartMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].EndMeal)
            </th>              
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.StartMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndMeal)
            </td>            
            <td>
                <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id"onclick="return confirm("Are you sure you want to Delete this Meal?")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
