@page
@model FoodTracker_APP.Pages.BlacklistFoods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>
  <p class="text-danger">Blacklist</p>  
</h1>
<hr />
<p>In this section you are free to create a list of foods that you don't like or that you can't eat for health reasons.
      This will be your personalized Blacklist.</p>
<p>
    <a asp-page="Create" class="btn btn-danger">Add new Food to your Blacklist: </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blacklist[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blacklist[0].DateHour)
            </th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blacklist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHour)
            </td>
            <td>                
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id"onclick="return confirm("Are you sure you want to Delete the item from the Blacklist?")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
