@page
@model FoodTracker_APP.Pages.FavFoods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>
  <p class="text-success">Favorite Food</p>  
</h1>
<hr />
<p>In this section you are free to identify your favorites from the two hundred plus items that benefit at least one of the five health defense systems. This helps you create your personalized preferred food list.</p>
<p>
    <a asp-page="Create" class="btn btn-success">Add a new item to your Favorites:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavFood[0].Name)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.FavFood[0].DateHour)
            </th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FavFood) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHour)
            </td>
            <td>                
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id"onclick="return confirm("Are you sure you want to delete this item from your Favorites?")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
