@page
@model FoodTracker_APP.Pages.FavFoods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Favorite Food</h1>

<p>
    <a asp-page="Create">Add a new item to your Favorites:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavFood[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavFood[0].DateHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FavFood) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHour)
            </td>
            <td>                
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
